__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/
*.db-journal
*.db-shm
*.db-wal
.DS_Store
Thumbs.db
*.db
*.sqlite
*.sqlite3

# Database
data/*.db

# Excel input
data/*.xlsx

# Exported CSVs
exports/*.csv


